<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_lib.css') }}"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>First Flask Friends</title>
</head>
<body>
  <!-- //// HEADER //////// -->
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">

          <strong>Friends</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  
  <!-- //// MAIN AREA //////// -->
  <main role="main">
    <div class="container">
      <h1>
        These are my friends
      </h1>
      {% for one_friend in all_friends %}
        <p>
          ::: First Name: {{one_friend.first_name}} :: Last Name: {{one_friend.last_name}}
          ::: Occupation: {{one_friend.occupation}} :::
        </p>
        <hr>
      {% endfor %}
      <h1>Add a Friend</h1>
      <form action="/create_friend" method="POST">
        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname">
        <label for="occ" >Occupation:</label>
        <input type="text" name="occ">
        <input type="submit" value="Add Friend">
      </form> 
    </div>
  </main>
</body>
</html>